<!-- Assignment-1 -->

<!-- <div class="container">
    <h2 id="assignmentHeader">Assignment-1</h2>
    <div class="cursive">
<app-warning-alert *ngFor="let message of messages"></app-warning-alert>
<app-success-alert></app-success-alert>
</div>
</div> -->

<!--Assignment-2-->

<!-- <div class="container">
        <h2 id="assignmentHeader">Assignment-2</h2>
     <app-user-component></app-user-component>
    </div> -->

    <!--Assignment-3-->
<div class="container">
    <h2 id="assignmentHeader">Assignment-3</h2>
    <app-display-details-component></app-display-details-component>
</div>